@import "src/normalize.scss";
@import "src/reset.scss";

@import "font.scss";
@import "variable.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

svg {
  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  color: $text-prime;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}


.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include respond(sm) {
    max-width: 540px;
  }
  @include respond(md) {
    max-width: 720px;
  }
  @include respond(lg) {
    max-width: 960px;
  }
  @include respond(xl) {
    max-width: 1140px;
  }
  @include respond(xxl) {
    max-width: 1410px;
  }
}

.title-md {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.base-link {
  color: #333333;
  line-height: 1.43;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $color-prime;
  }
  &:focus,
  &:active {
    color: $color-prime-active;
  }
}