@import "src/normalize.scss";
@import "src/reset.scss";

@import "font.scss";
@import "variable.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $text-prime;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-md {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}